<div class="centeralign">
  <div class="loginContainer">
    <div class="loginBlock">
    <div class="loginTitle">로그인

    </div>
    <form class="loginForm" [formGroup]="signInForm" (ngSubmit)="submit()">
      <div class="inputDiv">
        <div class="inputName">아이디</div>
        <input class="inputTextBox" type="text" placeholder="아이디를 입력해주세요." formControlName="uid">
  
        <p *ngIf="signInForm.get('uid').touched &&signInForm.get('uid').invalid&&signInForm.get('uid').errors.required" class="error">
          아이디를 입력해주세요.
        </p>
  
      </div>
  
  
      <div class="inputDiv">
        <div class="inputName">비밀번호</div>
        <input class="inputTextBox" type="password" placeholder="비밀번호를 입력해주세요" formControlName="password">
        <p *ngIf="signInForm.get('password').touched&&signInForm.get('password').invalid&&signInForm.get('password').errors.required" class="error">
          비밀번호를 입력해주세요.
        </p>
      </div>
  
      <button type="submit" [disabled]="!signInForm.valid">로그인</button>
      <button color="primary" routerLink="/signup">회원 가입</button>
    </form>

  </div>
</div>
