.container{
  margin-left: 5px;
  margin-top: 5px;
}

h1{
  text-align: center;
}

.addButton {
  text-align: center;
  border-radius: 12px; /* 테두리 둥글게 */
  border: solid 1px black; /* 검은색 테두리 */
  background-color: white; /* 배경색 하얀색 */
  color: black; /* 글자색 검정색 */
}


.addContents{
  float: left;
}

.boxes-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.box{
  width: calc(50% - (1px * 2));
  margin-left: 2px;

  position: relative;
}

.title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  text-align: left;
}

.button{
  position: absolute;
  top: 40%;
  width: 100%;
}

.overlay-button{
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  transform: translateY(-50%);
  background-color: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.overlay-button:first-child{
  left: 0;
}

.overlay-button:last-child{
  right: 0;
}
