<div class="bannerDiv">
  <a herf="#">
    <img class="banner" [src]="currentImage">
  </a>
</div>


<div class="category">
  <div class="categoryName">인기 상품</div>
  <div class="itemList">
    <div class="product" *ngFor="let post of [1,2,3,4]">
      <div class="imgContainer">
        <img class=productImg src="/assets/4.jpg">
      </div>
      <div class="productName">
        예시 상품 
      </div>
      <div class="producttext">
        멘트 있으면 추가
      </div>
    </div>

    <div class="product" >
      <div class="imgContainer">
      <img class=productImg src="">
      </div>

      <div class="productName">
      예시 입력 
      </div>
    </div>
  </div>
</div>
<hr>

<div class="category">
  <div class="categoryName">인기 글</div>
  <div class="itemList">
    <div class="post" *ngFor="let post of [1,2,3,4,5]" >
      <div class="imgContainer">
        <img class=postImg [src]="'/assets/brand/'+post+'.png'">  
      </div>
      <div class="postName">
        예시 포스트
      </div>
      <div class="postText">
        하트나 해시태그 같은 정보들 있으면 추가
      </div>
    </div>
  </div>
</div>

<hr>

<div class="category">
  <div class="categoryName">인기 브랜드</div>
  <div class="itemList">
    <div class="brand" *ngFor="let brand of brands1" >
        <div class="brandContainer">
          <div class="brandDiv">
            <img class=brandImg [src]="'/assets/brand/'+brand.path+'.png'">
          </div>
        </div>



      <div class="brandName">
        {{brand.name}}
      </div>
    </div>
  </div>
  <div class="itemList">
    <div class="brand" *ngFor="let brand of brands2" >
      <div class="brandContainer">
        <div class="brandDiv">
          <img class=brandImg [src]="'/assets/brand/'+brand.path+'.png'">
        </div>
     </div>


      <div class="brandName">
        {{brand.name}}
      </div>
      
    </div>
  </div>
</div>



<hr>

<div class="category">
  <div class="categoryName">추천 의류</div>
  <div class="itemList">
    <div class="propose" *ngFor="let post of [1,2,3,4,5]" >
      <div class="imgContainer">
        <img class=proposeImg src="/assets/4.jpg">
      </div>
      <div class="proposeName">
        예시 의류
      </div>
      <div class="proposetext">
        멘트 있으면 추가
      </div>
    </div>
  </div>
</div>

