<div class="bannerDiv">
  <a herf="#">
    <img class="banner" [src]="currentImage">
  </a>
</div>
<hr>
<div class="category">
  <div class="categoryName">추천 상품</div>
  <div class="itemList">
    <ng-container *ngFor="let product of products; let i=index">
      <div class="product" *ngIf="i<5">
        <div class="imgContainer">
          <img class="productImg" (click)="goToBuyUrl(product.buyUrl)" [src]="product.imageUrl">
        </div>
        <h5 class="productBrand">{{ product.brand }}</h5>
        <h6 class="productName">{{ product.name }}</h6>
      </div>
    </ng-container>
  </div>
</div>
<hr>
<div class="category">
  <div class="categoryName">인기 글</div>
  <div class="itemList">
    <ng-container *ngFor="let post of posts; let postIndex = index">
      <div class="post">
        <div class="imgContainer">
          <img crossorigin="anonymous" (click)="goToPost(post.id)" [src]="'https://tryon-399311.du.r.appspot.com/posts/images/' + post.imagePaths[currentIndices[postIndex]]" class="postImg"/>
        </div>
        <h5 class="postName">{{ post.username }}</h5>
        <p class="postText">{{ post.title }}</p>
        <p class="postLikes">좋아요 {{ post.likes.length }}</p>
      </div>
    </ng-container>
  </div>
</div>
<hr>
<div class="category">
  <div class="categoryName">인기 브랜드</div>
  <div class="itemList">
    <div class="brand" *ngFor="let brand of brands1" >
      <div class="brandContainer">
        <div class="brandDiv">
          <img class=brandImg (click)="goToBuyUrl(brand.url)" [src]="'/assets/brand/'+brand.path+'.png'">
        </div>
      </div>
      <div class="brandName">
        {{brand.name}}
      </div>
    </div>
  </div>
  <div class="itemList">
    <div class="brand" *ngFor="let brand of brands2" >
      <div class="brandContainer">
        <div class="brandDiv">
          <img class=brandImg (click)="goToBuyUrl(brand.url)" [src]="'/assets/brand/'+brand.path+'.png'">
        </div>
      </div>
      <div class="brandName">
        {{brand.name}}
      </div>
    </div>
  </div>
</div>
<!--
<hr>
div class="category">
  <div class="categoryName">추천 의류</div>
  <div class="itemList">
    <div class="propose" *ngFor="let post of [1,2,3,4,5]" >
      <div class="imgContainer">
        <img class=proposeImg src="/assets/4.jpg">
      </div>
      <div class="proposeName">
        예시 의류
      </div>
      <div class="proposetext">
        멘트 있으면 추가
      </div>
    </div>
  </div>
</div>-->
<!--
<div class="product" *ngFor="let post of [1,2,3,4]">
  <div class="imgContainer">
    <img class=productImg src="/assets/4.jpg">
  </div>
  <div class="productName">
    예시 상품
  </div>
  <div class="producttext">
    멘트 있으면 추가
  </div>
</div>
    <div class="product">
  <div class="imgContainer">
  <img class=productImg src="">
  </div>
  <div class="productName">
  예시 입력
  </div>
</div>-->
