<div class = "description" >
  <div *ngIf="TopNav" class="TopNav">
      <a  [routerLink]="['/']">
        <div class="label2">홈</div>
      </a>
      <serch-bar>
      </serch-bar>
  </div>
  <div class="app-data">
    <router-outlet></router-outlet>
  </div>


  <div id="BottomNav" *ngIf="BottomNav">
    <a [routerLink]="['/']" routerLinkActive="router-link-active">
      <div class="NavBox">
        <img class=BottomNavIcon src='/assets/clothesSample.png'>
        <div class="BottomNavText">홈</div>      
      </div>
    </a>
    <a [routerLink]="['/fitting']" routerLinkActive="router-link-active">
      <div class="NavBox">
        <img class=BottomNavIcon src='/assets/clothesSample.png'>
        <div class="BottomNavText">가상피팅</div>
      </div>
      
    </a>
    <a  [routerLink]="['/signin']" routerLinkActive="router-link-active" *ngIf="!signService.isSignIn()">
      
      <div class="NavBox">
        <img class=BottomNavIcon src='/assets/clothesSample.png'>
        <div class="BottomNavText">로그인</div>
      </div>
    </a>
    <a  [routerLink]="['/myinfo']" routerLinkActive="router-link-active" *ngIf="signService.isSignIn()">
      <div class="NavBox">
        <img class=BottomNavIcon src='/assets/clothesSample.png'>
        <div class="BottomNavText">마이</div>
      </div>
    </a>
    <a  [routerLink]="['/']" routerLinkActive="router-link-active">
      <div class="NavBox">
        <img class=BottomNavIcon src='/assets/clothesSample.png'>
        <div class="BottomNavText">커뮤니티</div>
      </div>
    </a>
  </div>
</div>



