<div class="app">
  <div *ngIf="TopNav" class="TopNav">
    <a [routerLink]="['/']">
      <div class="Title">TryOnMe&nbsp;</div>
    </a>
    <div class="search-box">
      <input type="text" placeholder="검색어를 입력하세요..." [(ngModel)]="searchInput" class="searchInput"/>

      <div class="search">
        <button [routerLink]="['/search', searchInput]">
          <img class="search-icon" src="/assets/icons/search.png">
        </button>
      </div>
    </div>
  </div>
  <div class = "description" >
    <router-outlet style="width:100%;"></router-outlet>
  </div>
  <div id="BottomNav" *ngIf="BottomNav">
    <a [routerLink]="['/']" routerLinkActive="router-link-active">
      <div class="NavBox">
        <img class=BottomNavIcon src='/assets/icons/home.png'>
        <div class="BottomNavText">홈</div>
      </div>
    </a>
    <a [routerLink]="['/fitting']" routerLinkActive="router-link-active">
      <div class="NavBox">
        <img class=BottomNavIcon src='/assets/clothesSample.png'>
        <div class="BottomNavText">가상피팅</div>
      </div>
    </a>
    <a [routerLink]="['/community']" routerLinkActive="router-link-active">
      <div class="NavBox">
        <img class=BottomNavIcon src='/assets/icons/community.png'>
        <div class="BottomNavText">커뮤니티</div>
      </div>
    </a>
    <a [routerLink]="['/signin']" routerLinkActive="router-link-active" *ngIf="!signService.isSignIn()">
      <div class="NavBox">
        <img class=BottomNavIcon src='/assets/icons/login.png'>
        <div class="BottomNavText">로그인</div>
      </div>
    </a>
    <a [routerLink]="['/closet']" routerLinkActive="router-link-active" *ngIf="signService.isSignIn()">
      <div class="NavBox">
        <img class=BottomNavIcon src='/assets/clothesSample.png'>
        <div class="BottomNavText">{{ username1 }}의 옷장</div>
      </div>
    </a>
    <a (click)="logout()" *ngIf="signService.isSignIn()">
      <div class="NavBox">
        <img class=BottomNavIcon src='/assets/clothesSample.png'>
        <div class="BottomNavText">로그아웃</div>
      </div>
    </a>
  </div>
</div>
